.menu {
    background-color: rgb(255, 255, 255);
    height: 4rem;
    MARGIN: -1%;
    display: flex;
    justify-content: end;
}

.menu1 {
    height: 30PX;
    margin-right: 70px;
}

body {
    background-color: rgba(125, 123, 123, 0.043);
}